.Dishes-List {
   width: 50%;
   border: 1px solid #eee;
   box-shadow: 0 2px 3px #ccc;
   padding: 20px;
   margin: 10px auto;
   box-sizing: border-box;
   text-align: center;
   overflow: hidden;
}
.Dishes {
   float: left;
   margin: 0;
}