.Dish {
   width: 80%;
   border: 1px solid #eee;
   box-shadow: 0 2px 3px #ccc;
   padding: 10px;
   margin-top: 40px;
   box-sizing: border-box;
}
.Dish span {
   text-transform: capitalize;
   display: inline-block;
   margin: 0 8px;
   border: 1px solid #ccc;
   padding: 5px;
}