.Orders {
   width: 80%;
   border: 1px solid #eee;
   box-shadow: 0 2px 3px #ccc;
   padding: 10px;
   margin: 40px auto 0;
   box-sizing: border-box;
   overflow: hidden;
}
.Is-empty {
   text-align: center;
}