.Order {
   width: 80%;
   border: 1px solid #eee;
   box-shadow: 0 2px 3px #ccc;
   padding: 10px;
   margin: 40px auto 0;
   box-sizing: border-box;
   overflow: hidden;
}
.Order span {
   text-transform: capitalize;
   display: inline-block;
   margin: 0 8px;
   border: 1px solid #ccc;
   padding: 5px;
}
.Order-Total {
   float: right;
}
.Order-Item {
   margin-bottom: 10px;
}