.Add-New-Dish {
   width: 40%;
   border: 1px solid #eee;
   box-shadow: 0 2px 3px #ccc;
   padding: 10px;
   margin: 10px auto;
   box-sizing: border-box;
   text-align: center;
}
.Add-New-Dish input {
   width: 80%;
   border: 1px solid #eee;
   box-shadow: 0 2px 3px #ccc;
   padding: 10px;
   margin: 10px auto;
   box-sizing: border-box;
}
.Add-New-Dish span {
   text-transform: capitalize;
   display: inline-block;
   margin: 0 8px;
   padding: 5px;
}
